.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.oval {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1080px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
}