* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: #87cefa;
}