.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 0.25rem lightgray solid;
    border-radius: 1rem;
    color: black;
    overflow: hidden;
}

.cross {
    position: absolute;
    font-size: 2rem;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.cross:hover {
    color: #87cefa;
}

.check {
    position: absolute;
    font-size: 2rem;
    width: 36px;
    height: 36px;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.check:hover {
    color: #87cefa;
}

.imgContainer {
    position: relative;
    width: 60%;
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
}

.altBg {
    position: relative;
    padding: 0.5rem;
    background-color: rgb(214, 42, 60);
    width: 100%;
}

.huntNum {
    font-size: 2.5rem;
}

.buttonLayout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.5rem;
    gap: 0.5rem;
}

.encounterButton {
    background-color: transparent;
    border: black 0.25rem solid;
    border-radius: 1rem;
    font: inherit;
    font-size: 2rem;
    color: inherit;
    cursor: pointer;
}

.encounterButton:hover {
    color: #87cefa;
    border-color: #87cefa;
}