.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 32rem;
    align-items: center;
    background-color: rgb(214, 42, 60);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8rem;
    padding: 2rem;
    border: lightgray solid 0.25rem;
}

.addpokemon {
    font-size: 2em;
    background-color: transparent;
    width: 64px;
    height: 64px;
    border: 0.25rem black solid;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin-top: 0.25rem;
}

.addpokemon:hover {
    color: #87cefa;
    border-color: #87cefa;
}

.addHunt {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font: inherit;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    border: 0.25rem solid lightgray;
    background-color: rgb(214, 42, 60);
    cursor: pointer;
}

.addHunt:hover {
    color: #87cefa;
    border-color: #87cefa;
}

.oval {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1080px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: 26rem;
        font-size: 12px;
    }

    .addpokemon {
        width: 48px;
        height: 48px;
        border-width: 0.2rem;
    }
}