.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 32rem;
    align-items: center;
    background-color: rgb(214, 42, 60);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8rem;
    padding: 2rem;
    border: lightgray solid 0.25rem;
}

.addpokemon {
    font-size: 2rem;
    background-color: transparent;
    width: 15%;
    border: 0.25rem black solid;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin-top: 0.25rem;
}

.addpokemon:hover {
    color: #87cefa;
    border-color: #87cefa;
}

.addHunt {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    font: inherit;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.25rem solid black;
    background-color: rgb(214, 42, 60);
    cursor: pointer;
}

.addHunt:hover {
    color: #87cefa;
    border-color: #87cefa;
}