.navbar {
    background-color: rgb(214, 42, 60);
    top: 0;
    position: sticky;
    z-index: 999;
}

.navlist {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navitem {
    display: inline-block;
    padding: 1rem 0;
}

.navitem + .navitem {
    margin-left: 1rem;
}

.active {
    color: #87cefa;
}